# Capstone Two - Data Wrangling

Goal: Organize your data to streamline the next steps of your
capstone.

I wil Create a file structure and add your work to the GitHub
repository I've created for this project. I will then Gain an understanding of my data features to inform the
next steps of your project. Finally I will Clean up the data in order to prepare it for the next steps of
my project.

In [2]:
#Importing Pandas
import pandas as pd

loading the start-up data, and displaying the top lines

In [3]:
startup = pd.read_csv(r"C:\Users\ptlon\OneDrive\Desktop\startup_funding_v4.csv")
startup.head()

,Date,Startup Name,Industry,Sub-Vertical,State,Investors’ Name,Investment Type,Amount (In USD)
0,2/17/2016,The Viral Fever,Consumer Internet,Independent Online Video production company,Mumbai,Tiger Global,Private Equity,10
1,1/19/2015,CBS,Industry / Vertical,Sub-Vertical,City / Location,Hyderabad Angels (at Startup Heroes event),Seed Funding,"16,000"
2,1/19/2015,Enabli,Industry / Vertical,Sub-Vertical,City / Location,Hyderabad Angels (at Startup Heroes event),Seed Funding,"16,000"
3,1/19/2015,Yo Grad,Industry / Vertical,Sub-Vertical,City / Location,Hyderabad Angels (at Startup Heroes event),Seed Funding,"16,000"
4,1/19/2015,Play your sport,Industry / Vertical,Sub-Vertical,City / Location,Hyderabad Angels (at Startup Heroes event),Seed Funding,"16,000"

loading the GDP data, and displaying the top lines

In [4]:
#loading GDP 2017 per state data, and reading displaying the top lines
GDP = pd.read_excel(r'C:\Users\ptlon\Downloads\Indian GDP 2017 New.xlsx')
GDP.head()

   Rank          State      GDP
0     1    Maharashtra  399.921
1     2     Tamil Nadu  247.629
2     3  Uttar Pradesh  240.726
3     4        Gujarat  228.290
4     5      Karnataka  226.806

Taking a look at the data sets

In [5]:

startup['State'].value_counts()

Bengaluru          868
Mumbai             581
Delhi              470
Gurugram           353
City / Location    171
                  ...
Boston               1
US/India             1
New York/ India      1
SFO / Bangalore      1
Nw Delhi             1
Name: State, Length: 111, dtype: int64

removing all data that doesnt fit into a usable location

In [6]:

startup = startup[startup.State != 'City / Location']

In [7]:
startup.head()

,Date,Startup Name,Industry,Sub-Vertical,State,Investors’ Name,Investment Type,Amount (In USD)
0,2/17/2016,The Viral Fever,Consumer Internet,Independent Online Video production company,Mumbai,Tiger Global,Private Equity,10
12,1/30/2017,Maptags,Consumer Internet,Smart Online address tags,Bengaluru,The Ten Minute Million,Seed Funding,"18,000"
13,7/8/2015,33Coupons,Coupon Aggregator Platform,Coupon Aggregator Platform,Kanpur,Not Disclosed,Seed Funding,"20,000"
14,2/2/2016,Strike,Consumer Internet,Mobile Email productivity tool,Bengaluru,Multiple investors through Ten Minute Million ...,Seed Funding,"22,500"
15,2/2/2016,Gamooz,Technology,Augmented Reality Solutions,Gurugram,Multiple investors through Ten Minute Million ...,Seed Funding,"22,500"

making sure there are still enough data points

In [8]:
 
startup['State'].value_counts()

Bengaluru          868
Mumbai             581
Delhi              470
Gurugram           353
Pune               112
                  ...
Boston               1
US/India             1
New York/ India      1
SFO / Bangalore      1
Nw Delhi             1
Name: State, Length: 110, dtype: int64

# merging on 'State'

In [9]:
startup_state_gdp = pd.merge(startup, GDP, on="State")

In [11]:
startup_state_gdp.head()

,Date,Startup Name,Industry,Sub-Vertical,State,Investors’ Name,Investment Type,Amount (In USD),Rank,GDP
0,1/30/2017,Cloudrino,Technology,Cloud based Virtual Servers,Delhi,The Ten Minute Million,Seed Funding,"22,500",12,117.703
1,10/14/2016,Newspatrolling,Consumer Internet,Online News portal,Delhi,Undisclosed,Seed Funding,"25,000",12,117.703
2,3/7/2017,Book Servicing,Consumer Internet,Online Vehicle Services Booking platform,Delhi,National Science and Technology Entrepreneursh...,Seed Funding,"30,000",12,117.703
3,3/19/2016,goSporto,Consumer Internet,Online Sports discovery and booking platform,Delhi,Naveen Gupta,Seed Funding,"30,000",12,117.703
4,2/4/2016,Perfumery,ECommerce,Fragrances & Perfume eTailer,Delhi,Oranda Global & Others,Seed Funding,"30,000",12,117.703

In [12]:
startup_state_gdp.dtypes

Date                object
Startup Name        object
Industry            object
Sub-Vertical        object
State               object
Investors’ Name     object
Investment Type     object
Amount (In USD)     object
Rank                 int64
GDP                float64
dtype: object

In [13]:
startup_state_gdp.describe()

             Rank         GDP
count  495.000000  495.000000
mean    12.478788  113.534770
std      2.500011   23.307769
min      3.000000    6.397000
25%     12.000000  117.703000
50%     12.000000  117.703000
75%     12.000000  117.703000
max     25.000000  240.726000

In [14]:
startup_state_gdp['Date'].describe()

count           495
unique          373
top       2/22/2016
freq              4
Name: Date, dtype: object

In [15]:
startup_state_gdp['Startup Name'].describe()

count        495
unique       426
top       Jugnoo
freq           5
Name: Startup Name, dtype: object

In [16]:
startup_state_gdp['Industry'].describe()

count                   495
unique                  170
top       Consumer Internet
freq                    155
Name: Industry, dtype: object

In [17]:
startup_state_gdp['Sub-Vertical'].describe()

count                      495
unique                     479
top       Education/E-learning
freq                         3
Name: Sub-Vertical, dtype: object

In [18]:
startup_state_gdp['State'].describe()

count       495
unique        7
top       Delhi
freq        470
Name: State, dtype: object

In [19]:
startup_state_gdp['Investors’ Name'].describe()

count                      491
unique                     436
top       Indian Angel Network
freq                         9
Name: Investors’ Name, dtype: object

In [20]:
startup_state_gdp['Investment Type'].describe()

count              495
unique              17
top       Seed Funding
freq               272
Name: Investment Type, dtype: object

In [21]:
startup_state_gdp['Amount (In USD)'].describe()

count           293
unique          127
top       1,000,000
freq             31
Name: Amount (In USD), dtype: object

In [22]:
startup_state_gdp['Rank'].describe()

count    495.000000
mean      12.478788
std        2.500011
min        3.000000
25%       12.000000
50%       12.000000
75%       12.000000
max       25.000000
Name: Rank, dtype: float64

In [23]:
startup_state_gdp['GDP'].describe()

count    495.000000
mean     113.534770
std       23.307769
min        6.397000
25%      117.703000
50%      117.703000
75%      117.703000
max      240.726000
Name: GDP, dtype: float64

Finding Null data

In [24]:

startup_state_gdp['Date'].isnull().values.any()

False

In [25]:
startup_state_gdp['GDP'].isnull().values.any()

False

In [26]:
startup_state_gdp['Industry'].isnull().values.any()

False

In [27]:
startup_state_gdp['Startup Name'].isnull().values.any()

False

In [28]:
startup_state_gdp['Amount (In USD)'].isnull().values.any()

True

In [29]:
startup_state_gdp['Amount (In USD)'].dropna

<bound method Series.dropna of 0           22,500
1           25,000
2           30,000
3           30,000
4           30,000
          ...
490            NaN
491            NaN
492    1,55,00,000
493      35,84,000
494            NaN
Name: Amount (In USD), Length: 495, dtype: object>

Finding the percentage of Which states had the most funded start-ups and which industries they were in.

In [30]:

startup_state_gdp['State'].value_counts(normalize=True)*100

Delhi            94.949495
Chandigarh        2.222222
Goa               2.020202
Kerala            0.202020
Haryana           0.202020
Karnataka         0.202020
Uttar Pradesh     0.202020
Name: State, dtype: float64

In [31]:
startup_state_gdp['Industry'].value_counts(normalize=True)*100

Consumer Internet                         31.313131
ECommerce                                 13.535354
Technology                                12.929293
Healthcare                                 3.030303
Food & Beverage                            1.414141
                                            ...
Online content platform for women          0.202020
Premium Beverages                          0.202020
Digital Healthcare                         0.202020
Logistics Service Provider Marketplace     0.202020
Transportation                             0.202020
Name: Industry, Length: 170, dtype: float64

In [32]:
startup_state_gdp['Amount (In USD)'].value_counts()

1,000,000    31
100,000      16
500,000      13
5,000,000    12
2,000,000    12
             ..
443,000       1
441,000       1
376,000       1
375,000       1
35,84,000     1
Name: Amount (In USD), Length: 127, dtype: int64

Mean, Median, Mode of my new data set

In [34]:
startup_state_gdp.mean()

C:\Users\ptlon\AppData\Local\Temp/ipykernel_17568/422551189.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  startup_state_gdp.mean()

Rank     12.478788
GDP     113.534770
dtype: float64

In [35]:
startup_state_gdp.median()

C:\Users\ptlon\AppData\Local\Temp/ipykernel_17568/2576694538.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  startup_state_gdp.median()

Rank     12.000
GDP     117.703
dtype: float64

In [36]:
startup_state_gdp.mode()

,Date,Startup Name,Industry,Sub-Vertical,State,Investors’ Name,Investment Type,Amount (In USD),Rank,GDP
0,2/22/2016,Jugnoo,Consumer Internet,Education/E-learning,Delhi,Indian Angel Network,Seed Funding,"1,000,000",12.0,117.703
1,6/1/2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
startup_state_gdp.std()

C:\Users\ptlon\AppData\Local\Temp/ipykernel_17568/926341161.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  startup_state_gdp.std()

Rank     2.500011
GDP     23.307769
dtype: float64

In [38]:
#saving my work

In [39]:
startup_state_gdp.to_excel("startup_state_gdp.xlsx",
             sheet_name='Sheet_name_1')

After Exploring both sets of Data - GDP and Indian start-ups by state, I was able to merge the data on the 'State' column, which both data sets contained. From there I was able to do more data wrangling by creating a new data set, and, exploring that data set.